{% extends "base.html" %}

{% block content %}
    <h1 class="mission-emblem">Аварийный доступ</h1>
    <form method="POST" class="access-form">
        <div class="input-group mb-3">
            <label>ID астронавта</label>
            <input type="text" class="form-control" name="id_astro" required>
        </div>
        <div class="input-group mb-3">
            <label>Пароль астронавта</label>
            <input type="password" class="form-control" name="password_astro" required>
        </div>
        <div class="input-group mb-3">
            <label>ID капитана</label>
            <input type="text" class="form-control" name="id_cap" required>
        </div>
        <div class="input-group mb-3">
            <label>Пароль капитана</label>
            <input type="password" class="form-control" name="password_cap" required>
        </div>
        <button type="submit" class="btn btn-danger">Активировать доступ</button>
    </form>
{% endblock %}